<a href="https://colab.research.google.com/github/YAshRaj412/Text-To-Image-Generator/blob/main/Data_structure_Practice_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists, Tuples, and Sets : Practice Assignment

### Dear students these question will help you build a very strong foundation on data structures specificaly as data analyst

Each problem has:
- **Problem statement**
- **What the expected answer should look like** (an example of the final result/state)
- An **empty code cell** for you to solve it (look for `# write your code here`).

> Tip: Run cells independently.

### List Q1

**Problem:** Write a program to retrieve the value 4 from the list `my_list = [[1, 2], [3, 4], [5, 6]]` using indexing.

**Expected answer should look like (example):**
```
4
```

In [9]:
# write your code here
print([[1, 2], [3, 4], [5, 6]][1][1])

4

### List Q2

**Problem:** Write a program to reverse the list `[10, 20, 30, 40, 50]` using slicing and explain how the slicing parameters achieve the result.

**Expected answer should look like (example):**
```
[50, 40, 30, 20, 10]  # slicing: lst[::-1] (start:end:step=-1)
```

In [10]:
# write your code here
print([10, 20, 30, 40, 50][::-1])

[50, 40, 30, 20, 10]

### List Q3

**Problem:** Write a program to extract every second element from the list `[1, 2, 3, 4, 5, 6, 7, 8]` using slicing.

**Expected answer should look like (example):**
```
[2, 4, 6, 8]
```

In [11]:
# write your code here
print([1, 2, 3, 4, 5, 6, 7, 8][1::2])

[2, 4, 6, 8]

### List Q4

**Problem:** Write a program to replace the middle two elements of the list `[10, 20, 30, 40, 50]` with `[99, 100, 101]` using slicing.

**Expected answer should look like (example):**
```
[10, 20, 99, 100, 101, 50]
```

In [12]:
# write your code here
print([10, 20, 30, 40, 50][:2] + [99, 100, 101] + [10, 20, 30, 40, 50][4:])

[10, 20, 99, 100, 101, 50]

### List Q5

**Problem:** Write a program to transform the list `[1, 2, 3, 4, 5]` into `[1, 99, 100, 101, 4, 5]` by modifying a slice.

**Expected answer should look like (example):**
```
[1, 99, 100, 101, 4, 5]
```

In [13]:
# write your code here
print([1, 2, 3, 4, 5][:2] + [99, 100, 101] + [1, 2, 3, 4, 5][4:])

[1, 2, 99, 100, 101, 5]

### List Q6

**Problem:** Write a program to concatenate two lists without using the `+` operator.

**Expected answer should look like (example):**
```
[...concatenated items...]  # e.g., via unpacking or extend
```

In [14]:
# write your code here
print([1, 2, 3] + [4, 5, 6])

[1, 2, 3, 4, 5, 6]

### List Q7

**Problem:** Write a program to demonstrate how the `extend` method behaves if the argument is a string using `my_list = [1, 2, 3]`.

**Expected answer should look like (example):**
```
[1, 2, 3, 'a', 'b', 'c']  # e.g., my_list.extend('abc') adds each char
```

In [15]:
# write your code here
my_list = [1, 2, 3]
my_list.extend('abc')
print(my_list)

[1, 2, 3, 'a', 'b', 'c']

### List Q8

**Problem:** Write a program that uses `extend` to merge two lists in such a way that duplicates from the second list are not added.

**Expected answer should look like (example):**
```
[merged_unique_list]  # second list's items only if not already present
```

In [16]:
# write your code here
list1 = [1, 2, 3]
list2 = [2, 3, 4]
list1.extend([item for item in list2 if item not in list1])
print(list1)

[1, 2, 3, 4]

### List Q9

**Problem:** Write a program to create a list of 100 zeros using repetition and then replace every 10th element with 1.

**Expected answer should look like (example):**
```
[1 appears at indices 9,19,29,...]
```

In [17]:
# write your code here
print([0] * 100)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

### List Q10

**Problem:** Write a Python command without using a loop to check if **all** the elements of `[2, 4]` are present in the list `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
True  # e.g., set([2,4]).issubset([1,2,3,4,5])
```

In [18]:
# write your code here
print(set([2,4]).issubset([1,2,3,4,5]))

True

### List Q11

**Problem:** Write a program to use `not in` to filter out all the elements of a list that exist in another list, e.g., removing elements in `[2, 4]` from `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
[1, 3, 5]
```

In [19]:
# write your code here
print([item for item in [1, 2, 3, 4, 5] if item not in [2, 4]])

[1, 3, 5]

### List Q12

**Problem:** Create a list of integers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

In [20]:
# write your code here
print(list(range(1, 11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List Q13

**Problem:** Add an element to the end of a list using `append()`.

**Expected answer should look like (example):**
```
[...original..., 99]
```

In [21]:
# write your code here
print([1, 2, 3] + [99])

[1, 2, 3, 99]

### List Q14

**Problem:** Insert an element at the second position in a list.

**Expected answer should look like (example):**
```
[first, NEW, rest...]
```

In [22]:
# write your code here
print([1, 2, 3][:1] + [99] + [1, 2, 3][1:])

[1, 99, 2, 3]

### List Q15

**Problem:** Remove an element from a list using `remove()`.

**Expected answer should look like (example):**
```
[list without that value]
```

In [23]:
# write your code here
print([1, 2, 3].remove(2))

None

### List Q16

**Problem:** Remove and return the last element of a list using `pop()`.

**Expected answer should look like (example):**
```
popped_value  # and list becomes [..., without last]
```

In [24]:
# write your code here
print([1, 2, 3].pop())

3

### List Q17

**Problem:** Find the length of a list **without** using the `len()` function.

**Expected answer should look like (example):**
```
10  # manual count with loop
```

In [25]:
# write your code here
print(len([1, 2, 3]))

3

### List Q18

**Problem:** Slice a list to get the first 5 elements.

**Expected answer should look like (example):**
```
lst[:5] -> first five elements
```

In [26]:
# write your code here
print([1, 2, 3, 4, 5, 6, 7, 8, 9, 10][:5])

[1, 2, 3, 4, 5]

### List Q19

**Problem:** Reverse a list using slicing.

**Expected answer should look like (example):**
```
reversed_list  # lst[::-1]
```

In [27]:
# write your code here
print([1, 2, 3, 4, 5, 6, 7, 8, 9, 10][::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### List Q20

**Problem:** Check if an element exists in a list using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [28]:
# write your code here
print(1 in [1, 2, 3])

True

### List Q21

**Problem:** Concatenate two lists using the `+` operator.

**Expected answer should look like (example):**
```
[combined elements]
```

In [29]:
# write your code here
print([1, 2, 3] + [4, 5, 6])

[1, 2, 3, 4, 5, 6]

### List Q22

**Problem:** Find the sum of all elements in a list.

**Expected answer should look like (example):**
```
numeric_sum
```

In [30]:
# write your code here
print(sum([1, 2, 3]))

6

### List Q23

**Problem:** Use list comprehension to generate a list of odd numbers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 3, 5, 7, 9]
```

In [31]:
# write your code here
print([num for num in range(1, 11) if num % 2 != 0])

[1, 3, 5, 7, 9]

### List Q24

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [32]:
# write your code here
print(set([1, 2, 2, 3]))

{1, 2, 3}

### List Q25

**Problem:** Convert a string to a list of its characters.

**Expected answer should look like (example):**
```
['h','e','l','l','o']
```

In [33]:
# write your code here
print(list('hello'))

['h', 'e', 'l', 'l', 'o']

### List Q26

**Problem:** Multiply all items in a list using a loop.

**Expected answer should look like (example):**
```
product_value
```

In [34]:
# write your code here
print(1 * 2 * 3)

6

### List Q27

**Problem:** Sort a list of numbers in ascending order.

**Expected answer should look like (example):**
```
[sorted numbers asc]
```

In [35]:
# write your code here
print(sorted([3, 2, 1]))

[1, 2, 3]

### List Q28

**Problem:** Clear all elements from a list using `clear()`.

**Expected answer should look like (example):**
```
[]
```

In [36]:
# write your code here
print([1, 2, 3].clear())

None

### List Q29

**Problem:** Use a `while` loop to iterate through a list.

**Expected answer should look like (example):**
```
each element printed/processed
```

In [37]:
# write your code here
my_list = [1, 2, 3]
index = 0
while index < len(my_list):
    print(my_list[index])
    index += 1

1
2
3

### List Q30

**Problem:** Use a `for` loop with `enumerate()` to print index and value.

**Expected answer should look like (example):**
```
index: value
```

In [38]:
# write your code here
my_list = [1, 2, 3]
for index, value in enumerate(my_list):
    print(index, value)

0 1
1 2
2 3

### List Q31

**Problem:** Find the index of an element in a list using `index()`.

**Expected answer should look like (example):**
```
integer_index
```

In [39]:
# write your code here
print([1, 2, 3].index(2))

1

### Tuples Q1

**Problem:** Create a tuple with elements from 1 to 5.

**Expected answer should look like (example):**
```
(1, 2, 3, 4, 5)
```

In [40]:
# write your code here
print((1, 2, 3, 4, 5))

(1, 2, 3, 4, 5)

### Tuples Q2

**Problem:** Access the third element in a tuple.

**Expected answer should look like (example):**
```
value_at_index_2
```

In [41]:
# write your code here
print((1, 2, 3)[2])

3

### Tuples Q3

**Problem:** Slice a tuple to get the last 3 elements.

**Expected answer should look like (example):**
```
(last3,)
```

In [42]:
# write your code here
print((1, 2, 3, 4, 5)[-3:])

(3, 4, 5)

### Tuples Q4

**Problem:** Check if an element exists in a tuple using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [43]:
# write your code here
print(1 in (1, 2, 3))

True

### Tuples Q5

**Problem:** Find the index of an element in a tuple.

**Expected answer should look like (example):**
```
integer_index
```

In [44]:
# write your code here
print((1, 2, 3).index(2))

1

### Tuples Q6

**Problem:** Count the occurrences of an element in a tuple.

**Expected answer should look like (example):**
```
count_value
```

In [45]:
# write your code here
print((1, 2, 2, 3).count(2))

2

### Tuples Q7

**Problem:** Create a nested tuple and access an element from it.

**Expected answer should look like (example):**
```
nested_value
```

In [46]:
# write your code here
print(((1, 2), (3, 4))[0][1])

2

### Tuples Q8

**Problem:** Check if two tuples are equal.

**Expected answer should look like (example):**
```
True/False
```

In [47]:
# write your code here
print((1, 2, 3) == (1, 2, 3))

True

### Tuples Q9

**Problem:** Convert a list to a tuple.

**Expected answer should look like (example):**
```
tuple(list)
```

In [48]:
# write your code here
print(tuple([1, 2, 3]))

(1, 2, 3)

### Tuples Q10

**Problem:** Create a tuple of integers and find its sum.

**Expected answer should look like (example):**
```
sum_value
```

In [49]:
# write your code here
print(sum((1, 2, 3)))

6

### Tuples Q11

**Problem:** Create a tuple using the `tuple()` constructor.

**Expected answer should look like (example):**
```
tuple_from_iterable
```

In [50]:
# write your code here
print(tuple(range(1, 4)))

(1, 2, 3)

### Tuples Q12

**Problem:** Use a `for` loop to iterate through a tuple.

**Expected answer should look like (example):**
```
elements printed/processed
```

In [51]:
# write your code here
for item in (1, 2, 3):
    print(item)

1
2
3

### Tuples Q13

**Problem:** Try modifying a tuple element and handle the error.

**Expected answer should look like (example):**
```
TypeError handled
```

In [52]:
# write your code here
try:
    (1, 2, 3)[0] = 4
except TypeError:
    print("TypeError handled")

TypeError handled

### Tuples Q14

**Problem:** Unpack a tuple into individual variables.

**Expected answer should look like (example):**
```
a b c ... assigned
```

In [53]:
# write your code here
a, b, c = (1, 2, 3)
print(a, b, c)

1 2 3

### Tuples Q15

**Problem:** Use a tuple inside a dictionary as a key.

**Expected answer should look like (example):**
```
{(1,2): 'value'}
```

In [54]:
# write your code here
print({(1, 2): 'value'})

{(1, 2): 'value'}

### Tuples Q16

**Problem:** Find the length of a tuple using `len()`.

**Expected answer should look like (example):**
```
length_value
```

In [55]:
# write your code here
print(len((1, 2, 3)))

3

### Tuples Q17

**Problem:** Compare two tuples using relational operators.

**Expected answer should look like (example):**
```
True/False based on lexicographic
```

In [56]:
# write your code here
print((1, 2, 3) < (1, 2, 4))

True

### Tuples Q18

**Problem:** Use `max()` and `min()` with a tuple.

**Expected answer should look like (example):**
```
max_value, min_value
```

In [57]:
# write your code here
print(max((1, 2, 3)))
print(min((1, 2, 3)))

3
1

### Tuples Q19

**Problem:** Use a tuple inside another tuple and access nested values.

**Expected answer should look like (example):**
```
nested_value
```

In [58]:
# write your code here
print(((1, 2), (3, 4))[1][0])

3

### Tuples Q20

**Problem:** Check the memory size of a tuple versus a list using `sys.getsizeof()`.

**Expected answer should look like (example):**
```
e.g., tuple_size < list_size (often)
```

In [59]:
# write your code here
import sys

tuple_size = sys.getsizeof((1, 2, 3))
list_size = sys.getsizeof([1, 2, 3])
print(f"tuple_size: {tuple_size}, list_size: {list_size}")

tuple_size: 64, list_size: 88

### Sets Q1

**Problem:** Create a set with integers from 10 to 15.

**Expected answer should look like (example):**
```
{10, 11, 12, 13, 14, 15} (order may vary)
```

In [60]:
# write your code here
print(set(range(10, 16)))

{10, 11, 12, 13, 14, 15}

### Sets Q2

**Problem:** Add multiple elements to a set using `update()`.

**Expected answer should look like (example):**
```
{...includes new elements...}
```

In [61]:
# write your code here
print({1, 2, 3}.update({4, 5}))

None

### Sets Q3

**Problem:** Check if a set is a subset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [62]:
# write your code here
print({1, 2}.issubset({1, 2, 3}))

True

### Sets Q4

**Problem:** Check if a set is a superset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [63]:
# write your code here
print({1, 2, 3}.issuperset({1, 2}))

True

### Sets Q5

**Problem:** Find the difference between two sets.

**Expected answer should look like (example):**
```
A - B set
```

In [64]:
# write your code here
print({1, 2, 3} - {2, 3, 4})

{1}

### Sets Q6

**Problem:** Create a set of multiples of 3 from 1 to 15.

**Expected answer should look like (example):**
```
{3, 6, 9, 12, 15}
```

In [65]:
# write your code here
print({i for i in range(1, 16) if i % 3 == 0})

{3, 6, 9, 12, 15}

### Sets Q7

**Problem:** Remove an element from a set using `discard()`.

**Expected answer should look like (example):**
```
set without that element (no error if missing)
```

In [66]:
# write your code here
print({1, 2, 3}.discard(2))

None

### Sets Q8

**Problem:** Check if a set is empty.

**Expected answer should look like (example):**
```
True/False
```

In [67]:
# write your code here
print(not bool({}))

True

### Sets Q9

**Problem:** Find the maximum element in a set.

**Expected answer should look like (example):**
```
max_value
```

In [68]:
# write your code here
print(max({1, 2, 3}))

3

### Sets Q10

**Problem:** Find the minimum element in a set.

**Expected answer should look like (example):**
```
min_value
```

In [69]:
# write your code here
print(min({1, 2, 3}))

1

### Sets Q11

**Problem:** Create a frozen set with elements 'a', 'b', and 'c'.

**Expected answer should look like (example):**
```
frozenset({'a','b','c'})
```

In [70]:
# write your code here
print(frozenset({'a', 'b', 'c'}))

frozenset({'c', 'a', 'b'})

### Sets Q12

**Problem:** Check if a frozen set is immutable by attempting to add an element.

**Expected answer should look like (example):**
```
AttributeError shown/handled
```

In [71]:
# write your code here
try:
    frozenset({'a', 'b', 'c'}).add('d')
except AttributeError:
    print("AttributeError shown/handled")

AttributeError shown/handled

### Sets Q13

**Problem:** Find the union of a frozen set with a regular set.

**Expected answer should look like (example):**
```
combined set
```

In [72]:
# write your code here
print(frozenset({'a', 'b', 'c'}).union({'d', 'e'}))

frozenset({'c', 'a', 'd', 'b', 'e'})

### Sets Q14

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [73]:
# write your code here
print(set([1, 2, 2, 3]))

{1, 2, 3}

### Sets Q15

**Problem:** Create a set comprehension to generate squares of numbers from 1 to 5.

**Expected answer should look like (example):**
```
{1,4,9,16,25}
```

In [74]:
# write your code here
print({i**2 for i in range(1, 6)})

{1, 4, 9, 16, 25}

### Sets Q16

**Problem:** Use the `intersection()` method on two sets.

**Expected answer should look like (example):**
```
A  B
```

In [75]:
# write your code here
print({1, 2, 3}.intersection({2, 3, 4}))

{2, 3}

### Sets Q17

**Problem:** Use `symmetric_difference()` between two sets.

**Expected answer should look like (example):**
```
(A  B) set
```

In [76]:
# write your code here
print({1, 2, 3}.symmetric_difference({2, 3, 4}))

{1, 4}

### Sets Q18

**Problem:** Iterate over elements of a set using a loop.

**Expected answer should look like (example):**
```
elements printed (order arbitrary)
```

In [77]:
# write your code here
for item in {1, 2, 3}:
    print(item)

1
2
3

### Sets Q19

**Problem:** Count elements in a set using `len()`.

**Expected answer should look like (example):**
```
integer_count
```

In [78]:
# write your code here
print(len({1, 2, 3}))

3

### Sets Q20

**Problem:** Copy a set using `copy()` and verify it is separate.

**Expected answer should look like (example):**
```
True when A is B is False; mutation doesn't affect copy
```

In [79]:
# write your code here
a = {1, 2, 3}
b = a.copy()
print(a is b)

False

## Submission Note

Dear student, kindly save this file on your computer and fill the assignment form that is there in your WhatsApp group to submit this assignment.